
.cardDiv {
    width: 280px !important;
    height: 250px !important;
}

.aLink1 {
    text-decoration: none;
    background-color: #023047;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: all .4s;
}

.aLink1:hover {
   background-color: #012536;
}