.divCount {
    border:1px solid #023047;
    border-radius: 5px;
    width: 220px;
    margin: 10px;
}

.btnCount {
    width: 50px;
    border: none;
    background-color: #023047;
    border-radius: 3px;
    color: white;
}

.btnCount:hover {
    background-color: #012335;
}

.pCount {
    font-size: 20px;
    margin-top: 15px;
    width: 20px;
    text-align: center;
}